@import url("../css-files/font.css");

html,body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    /*------font-color---*/
    --text-grey:#3f4954;
    --text-light:#D9D7F1;
    --purple:#9A0680;
/*------gradient-color---*/
--sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /*------font-faminly theme*/
    --Abel:'Abel';
    --Anton:'Anton';
    --Josefin_Sans:'Josefin_Sans';
    --Jost:'Jost';
    --Lexand:'Lexand';
    --Lexend_Deca:'Lexend_Deca';
    --Livvic:'Livvic';
    --Montserrat:'Montserrat';
}
/*---------GlobalClass*----------*/
a{
    text-decoration: none;
    color: var(--text-grey);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
list-style-type: none;
}
h1{
    font-family:var(--Livvic);
    font-size: 2.5rem;
}
h2{
    font-family: var(--Livvic);
    font-size: 1.8rem;
}
h3{
    font-family: var(--Livvic);
    font-size: 1rem;
}

button.btn{
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-family:var(--Livvic);
    cursor: pointer;

}
span{
    background-color: var(--sky);
    font-family: var(--Abel);
}
.container
{
    margin: 0 5vw;
}
p{
    font-family: var(--Lexand);
    color: var(--text-grey);
}








/*-----*----GlobalClass--*--------*/
/*---------navbar*----------*/
.nav{
    background-color: white;
    padding: 0 2rem;
    height: 0;
    min-height: 10vh;
    transition: 1s ease-in-out;
}

.nav .nav-brand a{
font-size: 3rem;
padding: 2rem 0;
font-family: var(--Lexand);



}
 .nav .nav-menu{
    justify-content: space-between;
}
.nav .nav-item{
    display: flex;
    margin: 0;
}
.nav .nav-item .navlinks
{
    padding: 1.3rem 1rem;
    font-size: 1.2rem;
    position: relative;
    font-family: var(--Abel);
    
}
.nav .nav-item .navlinks:hover{
    background-color:midnightblue;
}
.nav .nav-item .navlinks:hover a{
    color: white;
}
.nav .toggle-collapse
{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-item
{
    display: flex;
    justify-content: flex-end;
    padding: 1.2rem 0;
}
.nav .toggle-collapse .toggle-item i{
    font-size: 1.6rem;
    color: var(--text-grey);
}
.collapse
{
    height:30rem;
}


.nav .socail{
    padding: 1.4rem 0;
}
.nav .socail i{
    padding: 0 0.2rem;
}
.nav .socail i:hover{
    color:blue;
}
/*----*-----main-containt*---*-------*/
/*-----site-title*---*-------*/
main .site-title{
    background:url('../Images/assets/b6.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;

}
main .site-title .site-background
{
    text-align: center;
    padding: 20rem;
    color: white;
}
main .site-title h1,h3
{
    margin: 0.3rem;
}
main .site-title .btn{
 margin: 1.3rem;
 background:whitesmoke;
 color:black;

}
main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: aliceblue;
   
    
}



/*----*-----site-title*---*-------*/


/*----*-----Carosel*---*-------*/
main .blog{
    background:url('../Images/assets/Abract01.png');
    background-repeat: no-repeat;
    height:100vh;
    background-position: right;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post
{
   padding-top: 7rem;
   
}
main .blog-post .blog-content
{
    display: flex;
    flex-direction:column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);

}
main .blog-contet .blog-title{
    padding: 2rem 0;
}
main .blog-title .btn-blog{
    padding: .7rem 2rem;
   background: var(--sky);
   margin:.5rem;
 
}
main .blog-content span{
    display: block;
   
}

/*----*-----Carosel*---*-------*/

/*----*-----About India*---*-------*/
main .about-india{
    background: url("../Images/assets/Blog-post/bottom-design.png");
    background-repeat: no-repeat;
    height: 80vh;
    background-position: left bottom;
    background-size: 30%;
    
}
main .about-india .container .contant{
    display: flex;
    flex-direction: row;
}
main .about-india .container .contant .title{
    width: 800px; 
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 0;
}
main .about-india .container .contant .title{
   padding: 0rem;
   margin-right: 0;
}
main .about-india .container .contant .title h1{
    color: navy;
  padding-right: 4rem;
}
main .about-india .container .contant .title p{
 margin-top: 4px 0 10px;
 padding-left: 0rem;
 padding-right:6rem;
 color: var(--text-grey);
 justify-content: space-between;
}
main .about-india .container .contant .aboutimg{
    width: 70%;

}
/*---*-----About India*---*-------*/

/*----*-----Site-Content*---*-------*/
 main .site-content
 {
     display: grid;
     grid-template-columns: 80% 20%;
     
 }
 main .site-content .post-content>.post-image, .post-title
 {
     padding: 1rem 2rem;
     position: relative;
 }
 c.post-image div{
     overflow: hidden;
 }
 main .site-content .post-content> .post-image .img{
     padding: 4rem;

 }
 main .site-content .post-content>.post-image .img{
     width: 60%;
     transition: all 1s ease;
 }
 main .site-content .post-content>.post-image .img:hover{
     transform: scale(1.3);
 }
 main .post .post-title a{
  font-family: var(--Anton);
  font-size: 2.8rem;
 }
 main .site-content .post .post-title .post-btn{
     border-radius: 0;
     padding: .7rem 1.5rem;
     background: skyblue;
 }
 main .site-content .paginition{
     justify-content: center;
     color: var(--text-grey);
     margin: 4rem 2rem;

 }
 main .site-content .paginition a{
     padding: 0.8rem 1rem;
     border-radius: 5rem;
     margin: 0.3rem;
     font-family: var(--Lexand);
 }
 main .site-content .paginition .pages{
     background: gray;
     color: white;
 }
/*----*-----Site-Content*---*-------*/

/*----*-----SideBar*---*-------*/
.site-content > .side-bar .category{
    padding-top: 3rem;
    font-family: var(--Livvic);

}
.site-content > .side-bar .category  .list-item{
    background: skyblue;
    padding:.4rem 1rem;
    margin:.8rem 4rem;
    border-radius: 3rem;
    width: 60%;
    display: flex;
}
.site-content > .side-bar .category  .list-item a{
    color: black;
}
.site-content .side-bar .popular-post h2{
    padding-top: 8rem;
}
.site-content  .side-bar .popular-post .post-content{
padding: 0.1rem 0rem;
}
.site-content  .side-bar .popular-post .post-content .post-title{
    font-family: var(--Livvic);
    font-size: 1rem;
}
.site-content  .side-bar .popular-post .post-content .post-image .img{
    padding: 0.2rem ;
    width: 100%;

}
.site-content  .side-bar  .search{
    padding-top: 3rem ;
} 
.site-content  .side-bar  .search .form-element{
    padding: .2rem 1rem;
}
.site-content  .side-bar  .search .form-element .input-element{
    width: 80%;
    height: 1rem;
    padding: .5rem 2rem;
    font-family: var(--Lexand);
}
.site-content  .side-bar  .search .form-element .btn-form{
     border-radius: 0;
    padding: 1rem 32%;
    margin: 1rem;
    background-color: skyblue;
}
.site-content  .side-bar .popular-tags{
    padding-top: 4rem;
}
.site-content  .side-bar .popular-tags .tags .tag{
    background: skyblue;
    border-radius: 0.9rem;
    padding: .4rem .6rem;
    margin: .4rem .6rem;
}
/*----*-----SideBar*---*-------*/







/*----*-----main-containt*---*-------*/


/*----*-----footer*---*-------*/
 .footer{
    height: 100%;
    background:black;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 1rem;
}
.footer .container>div{
    flex-grow:1 ;
    flex-basis: 0;
    padding: 4rem .9rem;
}
.footer .container h2{
    color: white;

}
.footer .container .search .form-element{
    background: black;
    display: inline;
} 
.footer .container .search .form-element input{
    padding: 0.4rem 0.7rem;
     background: transparent;
    color: white;
    font-family: var(--Josefin_Sans);
    font-size: 1rem;
    width: 74%;

}
.footer .container .search .form-element span{
background: skyblue;
padding: .35rem .5rem;
cursor: pointer;
}
.footer .container .Insatagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin:.3rem .5rem;
}
.footer .container .contactUs a{
    color: white;
    margin: 0 .2rem;
}
.footer .right {
    text-align: center;
    color: #3f4954;
    justify-content: center;
    font-family: var(--Lexand);
}
.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}
.footer .move{
    position: relative;
    left: 90%;
    top:90%;
}
    
.footer .move a{
    color: skyblue;
}

/*----*-----footer*---*-------*/
/*----*-----view-port*---*-------*/
@media (max-width:1050px)
{
    .footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    main .site-content{
        grid-template-columns: 100%;
    }
    .footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}



/*----*-----view-port*---*-------*/
@media (max-width:750px)
{
   
    .nav .nav-menu,.nav .nav-item{
       flex-direction: column;
    }
    
    .nav .toggle-collapse{
        display: inline;
    }
}
@media (max-width:520px)
{
  main .blog{
      height: 125vh;
  }  
  main .about-india{
      height: 150vh;
  }
  .footer .container{
      padding: 0rem .9rem !important;
  }
  .footer .right{
      padding: 0 1.4rem;
      text-align: center;
  }
  nav .toggle-collapse{
      width: 80% !important;
  }
}

/*----*-----view-port*---*-------*/
/*----*-----navbar*---*-------*/